// Colors
$whitest: #ffffff
$white: #f2f0e8
$blue: #0074d9
$maroon: #501111
$black: #111111
$purple: #673ab7
$yellow: #ffdc00

$primary: $maroon
$secondary: $purple
$success: #01ff70
$warning: #ff851b
$danger: #ff4136

$alban: #55a3d4
$austin: #9e6ca4
$main: #b8bcbc
$moore: #e6302d


// Other stuff
$family-serif: 'Source Serif Pro', Georgia, serif
$family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'

$border-width: 3px
$border-radius: 5px
$form-border-radius: 7px