@use "sass:color"
@use "../01-abstracts/mixins"
@use "../01-abstracts/variables"

=button($bg, $color: variables.$whitest)
    background: $bg
    color: $color
    transition: all 0.15s ease-in-out

    &:hover
        border-color: color.adjust($bg, $lightness: -7.5%)
        background: color.adjust($bg, $lightness: -7.5%)
        
    &.shadow
        box-shadow: 0px 8px 15px rgba($bg, .25)

        &:hover
            box-shadow: 0px 8px 15px rgba($bg, .4)

=button-hollow($bg, $color2: variables.$whitest)
    border: 2px solid $bg
    color: $bg
    transition: all 0.15s ease-in-out

    &:hover
        background: $bg
        color: $color2

=button-clear($color)
    border: none
    color: $color

=button-link($color)
    background-color: transparent
    color: $color
    transition: all 0.15s ease-in-out

    &:hover
        color: color.adjust($color, $lightness: -7.5%)

.button-grid
    display: flex
    overflow-x: auto

    button, .button
        &:not(:last-child)
            margin-right: .75em

button, .button
    display: inline-block
    padding: 0 5px
    font-family: variables.$family-sans-serif
    font-size: 15px
    font-weight: 600
    text-decoration: none
    white-space: nowrap
    outline: 0
    cursor: pointer
    box-sizing: border-box

    &:not(.link)
        text-transform: uppercase
        padding: 5px 15px
        background-color: transparent
        border-radius: 0
        letter-spacing: .1rem
        text-align: center
    
    &.round
        border-radius: variables.$border-radius
        font-size: 14px
        
        &.large
            border-radius: variables.$border-radius * 2
    
    &.xtra-small
        font-size: 10px

        &:not(.link)
            padding: 4px 8px

    &.small
        font-size: 12px

        &:not(.link)
            padding: 5px 11.75px

    &.large
        font-size: 18px

        &:not(.link)
            padding: 10px 30px
            border-width: 3px !important

    &.full
        width: 100%

    &.has-icon
        svg, span
            display: inline-block
            transition: transform .5s ease

        &:hover
            svg, span
                transform: translateX(7.5px)

        &.small
            &:hover
                svg, span
                    transform: translateX(3.5px)

        &.large
            svg, span
                margin-left: 7.5px

        &_left
            svg, span
                display: inline-block
                margin-right: 5px
                transition: transform .5s ease

            &:hover
                svg, span
                    transform: translateX(-7.5px)

            &.small
                &:hover
                    svg, span
                        transform: translateX(-3.5px)

            &.large
                svg, span
                    margin-right: 7.5px
                    margin-left: 0

    &:disabled, &.disabled
        cursor: not-allowed
        opacity: .75

        &:hover
            opacity: .75

        &.has-icon
            &:hover
                span
                    transform: none !important

    &.primary
        +button-clear(variables.$primary)

        &:not(.clear)
            +button-link(variables.$primary)

            &:not(.link)
                +button-hollow(variables.$primary)

                &:not(.hollow)
                    +button(variables.$primary)

    &.white
        +button-clear(variables.$white)

        &:not(.clear)
            +button-link(variables.$white)

            &:not(.link)
                +button-hollow(variables.$white, variables.$primary)

                &:not(.hollow)
                    +button(variables.$white, variables.$primary)

    &.success
        +button-clear(variables.$success)

        &:not(.clear)
            +button-link(variables.$success)

            &:not(.link)
                +button-hollow(variables.$success, variables.$white)

                &:not(.hollow)
                    +button(variables.$success, variables.$white)

    &.danger
        +button-clear(variables.$danger)

        &:not(.clear)
            +button-link(variables.$danger)

            &:not(.link)
                +button-hollow(variables.$danger, variables.$white)

                &:not(.hollow)
                    +button(variables.$danger, variables.$white)

+mixins.mobile
    .button.large
        padding: 7.5px 15px
        font-size: .875em

+mixins.tablet
    .button.large
        padding: 8.75px 20px
        font-size: .9em