.page
  &--purple
    .heading
      color: $purple
    
    hr
      background: rgba($purple, .25)
      height: $border-width
    
    .content--block
      padding: 2rem 0

      &.bordered
        border-top: 3px solid rgba($purple, .25)
    
      p:last-of-type
        margin: 0