@use "../01-abstracts/variables"

.page
  &--purple
    .heading
      color: variables.$purple
    
    hr
      background: rgba(variables.$purple, .25)
      height: variables.$border-width
    
    .content--block
      padding: 2rem 0

      &.bordered
        border-top: 3px solid rgba(variables.$purple, .25)
    
      p:last-of-type
        margin: 0

.background
  &--off-white
    background: variables.$white
    margin-bottom: 1rem
    padding: 2rem
    border-radius: variables.$border-radius