@import '../assets/styles/01-abstracts/abstracts.sass'

.clock
  display: inline-block
  // background-color: rgba($maroon, .15)
  border: $border-width solid rgba($maroon, .25)
  border-radius: $border-radius
  padding: .25rem .5rem
  min-width: 100px
  text-align: center

.chats
  margin-top: 1rem !important
  list-style-type: none
  max-height: 400px
  overflow-y: auto

.chat
  display: block
  font-size: .9em
  line-height: 1.4
  animation: highlightIn 2.5s ease-in-out

  &:not(:first-of-type)
    padding-top: 1rem

  &:not(:last-of-type)
    padding-bottom: 1rem
    border-bottom: 2px dashed $main

textarea.chatInput
  display: block
  margin-top: 2rem
  margin-bottom: 0
  padding: .65rem .85rem
  font-size: 15px
  border-width: 2px
  border-radius: $border-radius $border-radius 0 0
  line-height: 1.35

button.sendChat
  border-radius: 0 0 $border-radius $border-radius !important

.connectionStatus
  padding: .85rem 0 0 !important
  border-radius: $border-radius
  font-size: .9em
  text-align: left
  animation: fadeIn .75s ease-in-out
  display: flex
  flex-direction: row
  align-items: center

  .connected
    margin-right: .65rem
    display: inline-block
    position: relative
    height: 10px
    width: 10px
    background: $maroon
    border-radius: 50%

    &:after
      content: ''
      position: absolute
      top: 2px
      left: 2px
      height: 6px
      width: 6px
      border-radius: 50%
      background: $maroon
      animation: pulse 2s infinite
      transform-origin: center center

  .warning
    color: $warning
    font-weight: bold
    margin-right: .5rem
